# Compiled python modules.
*.pyc
*.egg-info
/dist
*.coverage
*.coveragerc

#virtualenv management
/bin
/include
/lib
/lib64

# virtualenv for python version regression test
**/env/**
**/env27/**
**/env36/**
**/env37/**

#Files
/tests/data.py
coverage.xml
**/*~
report.txt
htmlcov/**
pytdd.conf
.sds_cli.txt
.python-version

build
